<header class="navbar-light navbar-sticky header-static">
	<!-- Logo Nav START -->

	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="/">
				<!-- <img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo"> -->
				<h4>Connect<span style="color: lightcoral;">ED</span> Tutors</h1>

			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

				<ul class="navbar-nav navbar-nav-scroll mx-auto">


					<a class="nav-link <%= title === 'home' ? 'active' : '' %>" href="/">Home Academy</a>
					<a class="nav-link <%= title === 'about' ? 'active' : '' %>" href="/about">About Us</a>
					<a class="nav-link <%= title === 'contact' ? 'active' : '' %>" href="/contact">Contact Us</a>
					<a class="nav-link <%= title === 'login' ? 'active' : '' %>" href="/login">Sign In</a>

					<!-- Nav item 2 Pages -->


					<!-- Nav item 3 Account -->


				</ul>

				<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
					<div class="nav-item w-100">
						<form class="position-relative" action='/search' method='get'>
							<input class="form-control pe-5 bg-transparent" type="search" placeholder="Search"
								aria-label="Search" name='search_query' id="search_query">
							<button
								class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y"
								type="submit"><i class="fas fa-search fs-6 "></i></button>
						</form>
					</div>
				</div>
				<!-- Nav Search END -->
			</div>
			<!-- Main navbar END -->

			<!-- Profile START -->
			<div class="dropdown ms-1 ms-lg-0">
				<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside"
					data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
					<img class="avatar-img rounded-circle"
						src="<%= user ? '/uploads/' + user.profile.profilePicture : 'assets/images/avatar/blank.jpg' %>"
						alt="avatar">

				</a>

				<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
					aria-labelledby="profileDropdown">
					<!-- Profile info -->
					<% if(user){ %>
						<li class="px-3">

							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-3">

									<img class="avatar-img rounded-circle shadow"
										src="<%= user ? '/uploads/' + user.profile.profilePicture : 'assets/images/avatar/01.jpg' %>"
										alt="avatar">
								</div>
								<div>

									<a class="h6" href="/user/<%= user.username %>">
										<%= user.profile.firstName %>
											<%= user.profile.lastName %>
									</a>
									<p class="small m-0">
										<%= user.email %>
									</p>

								</div>
							</div>


							<hr>
						</li>
						<!-- Links -->
						<li><a class="dropdown-item" href="/user/dashboard"><i
									class="bi bi-person fa-fw me-2"></i>Dashboard</a></li>
						<li><a class="dropdown-item" href="/user/edit-profile"><i
									class="bi bi-person fa-fw me-2"></i>Edit
								Profile</a></li>
						<li><a class="dropdown-item bg-danger-soft-hover" href="/signout"><i
									class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<!-- Dark mode switch START -->
						<% }else{ %>
							<button class="btn btn-primary w-100"><a href="/login" class="text-white">Login</a></button>
							<% } %>
								<!-- Dark mode switch END -->
				</ul>
			</div>
			<!-- Profile START -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>