

<%- include('./includes/head.ejs') %>

</head>

<body>

<!-- Header START -->
<%- include('./includes/navigation.ejs') %>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
    <!-- =======================
    Page Banner START -->
    <%- include('./includes/main.ejs')%>
                <!-- Right sidebar END -->
    
                <!-- Main content START -->
                <div class="col-lg-9 col-md-8 col-12">
					<!-- Card -->
					<div class="card">
						
						
						<div class="card-body">
							
							<div>
                                <% if(message){ %>
                                    <h3 class="text-success"><%= message %></h3>
                                <% } %>
                                
								<h4 class="mb-0">Review</h4>
								<!-- Form -->
								<form class="row gx-3" action="/user/tutor-review" method="post" >


                                    <div class="mb-3 col-12 col-md-6">
                                        <label for="exampleInputEmail1" class="form-label">Rating 
                                            *</label>
                                            <select type="text" name = "rating" class="form-control ps-1" id="rating" required>
                                                <option>1-Star</option>
                                                <option>2-Star</option>
                                                <option>3-Star</option>
                                                <option>4-Star</option>
                                                <option>5-Star</option>
                                            </select>
                                    </div>

                                    <div class="mb-3 col-12 col-md-6">
                                        <label for="exampleInputEmail1" class="form-label">Tutor
                                            *</label>
                                            <select type="text" name = "tutor" class="form-control ps-1" id="tutor" required>
                                                <% usernames.forEach(item=>{ %>
                                                    <option name="tutor"><%= item.username %></option>
                                               <% }) %>
                                                
                                            </select>
                                    </div>

                                    <div class="input-group input-group-lg">
                                        <span
                                            class="input-group-text px-3"><i
                                                class="bi bi-envelope-fill"></i></span>
                                        <textarea  name = "comment"
                                            class="form-control ps-1"
                                            placeholder="Few Lines About Tutor/ Mentor" id="comment" required></textarea>
                                    </div>
                                </div>

                                <input type="hidden" value = '<%= user._id %>' name = "student">
									
									<div class="col-12 mt-3">
										<!-- Button -->
										<button class="btn btn-primary" type="submit">
											Post Review
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
                

    
</main>

<%- include('./includes/footer') -%>
<!-- ======================= Footer END -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
