<%- include('./includes/head.ejs') %>

    </head>

    <body>

        <!-- Header START -->
        <%- include('./includes/navigation.ejs') %>
            <!-- Header END -->

            <!-- **************** MAIN CONTENT START **************** -->
            <main>

                <!-- =======================
    Page Banner START -->
                <%- include('./includes/main.ejs')%>
                    <!-- Right sidebar END -->
                    <!-- Main content START -->
                    <div class="col-xl-9">
                        <!-- Card START -->
                        <div class="card border rounded-3">
                            <!-- Card header START -->
                            <div class="card-header border-bottom">
                                <h3 class="mb-0">My Students List</h3>
                            </div>
                            <!-- Card header END -->

                            <!-- Card body START -->
                            <div class="card-body">


                                <!-- Student list table START -->
                                <div class="table-responsive border-0">
                                    <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                                        <!-- Table head -->
                                        <thead>
                                            <tr>
                                                <th scope="col" class="border-0 rounded-start">Student name</th>
                                                
                                                <th scope="col" class="border-0 rounded-end">Action</th>
                                            </tr>
                                        </thead>

                                        <!-- Table body START -->
                                        <tbody>
                                            <!-- Table item -->
                                            <% studentsData.forEach(student=>{ %>
                                                <tr>
                                                    <!-- Table data -->

                                                    <td>
                                                        <div class="d-flex align-items-center position-relative">
                                                            <!-- Image -->
                                                            <div class="avatar avatar-md mb-2 mb-md-0">
                                                                <img src="/uploads/<%= student.profile.profilePicture %>" class="rounded"
                                                                    alt="">
                                                            </div>
                                                            <div class="mb-0 ms-2">
                                                                <!-- Title -->
                                                                <h6 class="mb-0"><a href="/user/<%= student.username %>" class="stretched-link"><%= student.profile.firstName %> <%= student.profile.lastName %></a></h6>
                                                                <!-- Address -->
                                                                <span class="text-body small"><i
                                                                        class="fas fa-fw fa-map-marker-alt me-1 mt-1"></i><%= student.profile.location.city %>, <%= student.profile.location.country %></span>
                                                            </div>
                                                        </div>
                                                    </td> 

                                                    
                                                    <!-- Table data -->
                                                    <td>
                                                        <a href="/user/chats?receiver=<%= student._id %>" class="btn btn-success-soft btn-round me-1 mb-0"
                                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                                            title="Message"><i class="far fa-envelope"></i></a>
                                                        
                                                    </td>
                                                </tr>
                                            <% }) %>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Card body START -->
                        </div>
                        <!-- Card END -->
                    </div>
                    <!-- Main content END -->

            </main>

            <%- include('./includes/footer') -%>
                <!-- ======================= Footer END -->

                <!-- Back to top -->
                <div class="back-top"><i
                        class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

                <!-- Bootstrap JS -->
                <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    </body>

    </html>