<%- include('./includes/head.ejs') %>

</head>

<body>

<!-- Header START -->
<%- include('./includes/navigation.ejs') %>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
    <!-- =======================
    Page Banner START -->
    <%- include('./includes/main.ejs')%>
                <!-- Right sidebar END -->
    
                <!-- Main content START -->
                <div class="col-lg-9 col-md-8 col-12">
					
                    <div class="col-xl-9">
                        <!-- Student review START -->
                        <div class="card border rounded-3">
                            <!-- Header START -->
                            <div class="card-header border-bottom">
                                <div class="row justify-content-between align-middle">
                                    <!-- Title -->
                                    <div class="col-sm-6">
                                        <h3 class="card-header-title mb-2 mb-sm-0">Student review</h3>
                                    </div>
                                    
                                    <!-- Short by filter -->
                                    
                                </div>
                            </div>
                            <!-- Header END -->
        
                            <!-- Reviews START -->
                            <div class="card-body mt-2 mt-sm-4">
        
                                <!-- Review item START -->
                                <% review.forEach(item=>{ %>
                                <div class="d-sm-flex">
                                    <!-- Avatar image -->
                                    <img class="avatar avatar-lg rounded-circle float-start me-3" src="/uploads/<%= item.studentDetails.profile.profilePicture%>" alt="avatar">
                                    <div>
                                        <div class="mb-3 d-sm-flex justify-content-sm-between align-items-center">
                                            <!-- Title -->
                                            <div>
                                                <a href="/user/<%= item.studentDetails.username %>"><h5 class="m-0"><%= item.studentDetails.profile.firstName%> <%= item.studentDetails.profile.lastName%></h5></a>
                                                <span class="me-3 small"><%= item.Review.createdAt %> </span>
                                            </div>
                                            <!-- <h4><%= item.Review.rating %></h4> -->
                                            <!-- Review star -->
                                            <ul class="list-inline mb-0">
                                                <% for (let i=0; i < item.Review.rating; i++ ){%>
                                                <li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
                                                <% } %>
                                                <% for (let i=item.Review.rating; i <5; i++ ){%>
                                                <li class="list-inline-item me-0"><i class="far fa-star text-warning"></i></li>
                                                <% } %>
                                            </ul>	
                                        </div>
                                        <!-- Content -->
                                        <h6>Comment</h6>
                                        <p><%= item.Review.comment  %> </p>
                                        <!-- Button -->
                                        
                                    </div>
                                </div>
                                <!-- Divider -->
                                <hr>
                                <% }) %>
                                <!-- Review item END -->
        
                            </div>
                            <!-- Reviews END -->
        
                            
                        </div>
                        <!-- Student review END -->
                    </div>
                

                </main>

                <%- include('./includes/footer') -%>
                <!-- ======================= Footer END -->
                
                <!-- Back to top -->
                <div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>
                
                <!-- Bootstrap JS -->
                <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                
                </body>
                </html>