

<%- include('./includes/head.ejs') %>

</head>

<body>

<!-- Header START -->
<%- include('./includes/navigation.ejs') %>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
    <!-- =======================
    Page Banner START -->
    <%- include('./includes/main.ejs')%>
                <!-- Right sidebar END -->
    
                <!-- Main content START -->
                <div class="col-lg-9 col-md-8 col-12">
					<!-- Card -->
					<div class="card">
						<!-- Card header -->
						<div class="card-header">
							<h3 class="mb-0">Profile Details</h3>
							<p class="mb-0">
								You have full control to manage your own account setting.
							</p>
						</div>
						<!-- Card body -->
						<div class="card-body">
							<div class="d-lg-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center mb-4 mb-lg-0">
									<img src="/uploads/<%= user.profile.profilePicture %>" id="img-uploaded" class="avatar-xxxl rounded-circle" alt="avatar">
									<div class="ms-3">
										<h4 class="mb-0">Your avatar</h4>
										<p class="mb-0">
											PNG or JPG no bigger than 800px wide and tall.
										</p>
									</div>
								</div>
								<div>
									<a href="#" class="btn btn-outline-secondary btn-sm">Update</a>
									<a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
								</div>
							</div>
							<hr class="my-5">
							<div>
								<h4 class="mb-0">Personal Details</h4>
								<p class="mb-4">
									Edit your personal information and address.
								</p>
								<!-- Form -->
								<form class="row gx-3" action="/user/edit-profile" method="post" >
									<!-- First name -->
									<div class="mb-3 col-12 col-md-6">
										<label class="form-label" for="fname">First Name</label>
										<input type="text" id="fname" class="form-control" placeholder="First Name" value="<%= user.profile.firstName %>" name='firstName'  required="">
									</div>
									<!-- Last name -->
									<div class="mb-3 col-12 col-md-6">
										<label class="form-label" for="lname">Last Name</label>
										<input type="text" id="lname" class="form-control" placeholder="Last Name" value="<%= user.profile.lastName %>" name="lastName" required="">
									</div>
									<!-- Education -->
									<div class="mb-3 col-12 col-md-6">
										<label class="form-label" for="education">Education</label>
										<input type="text" id="education" class="form-control" placeholder="Education" value="<%= user.profile.education %>" name="education" required="">
                                    </div>
									<!-- Bio -->
                                    <div class="mb-3 col-12 col-md-6">
										<label class="form-label" for="BIO">Bio</label>
										<input type="text" id="bio" class="form-control" placeholder="Bio" value="<%= user.profile.bio %>" name="bio" required="">
                                    </div>
									<!-- Subjects -->
									<div class="mb-3 col-12 col-md-6">
										<label class="form-label" for="subjects">Subjects</label>
										<input type="text" id="subjects" class="form-control" placeholder="Subjects" value="<%= user.profile.subjects %>" name="subjects" required="">
									</div>

									<!-- City -->
									<div class="mb-3 col-12 col-md-6">
										<label class="form-label" for="city">City</label>
										<input type="text" id="city" class="form-control" placeholder="e,g Lahore" value="<%= user.profile.location.city %>" name="city" required="">
									</div>
                                    <div class="mb-3 col-12 col-md-6">
										<label class="form-label" for="Country">Country</label>
										<input type="text" id="country" name="country" class="form-control" placeholder="e,g Pakistan" value="<%= user.profile.location.country %>" required="">
									</div>

                                    <div class="mb-3 col-12 col-md-6">
										<label class="form-label" for="Title">Title</label>
										<input type="text" id="title" class="form-control" placeholder="e,g Software Engineer" value="<%= user.profile.title %>" required="">
									</div>

									
									<div class="col-12">
										<!-- Button -->
										<button class="btn btn-primary" type="submit">
											Update Profile
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
                

    
</main>

<%- include('./includes/footer') -%>
<!-- ======================= Footer END -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
